@import './scss/Variables.scss';

body {
  margin: 0;
  font-family: $fontStack;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  box-sizing: border-box;
}
button, input[type=submit]{
  font-family: $fontStack;
  font-size: 16px;
}


@import './components/Auth/Auth.scss';
@import './components/Todo/Todo.scss';
