.main-nav{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .dailydo-logo{
        width: 86px;
        height: 26px;
        display: block;
    }
    button.btn{
        font-size: 13px;
        font-weight: 600;
        color: $text_strong;
        text-decoration: none;
        border: 1px solid $blue;
        &:hover{
            color: $cta;
        }
        &::after{
            display: none;
        }
        svg{
            transform: translateY(-1px);
        }
    }
}